/nbproject/private/
/OOP10_Getter dan Setter/nbproject/private/
/OOP10_Getter dan Setter/build/
/OOP10_Getter dan Setter/dist/
/OOP13_static atau class atribut/nbproject/private/
/OOP13_static atau class atribut/build/
/OOP14_static atau class method/nbproject/private/
/OOP14_static atau class method/build/
/OOP15_Multi File dengan package/nbproject/private/
/OOP15_Multi File dengan package/build/
/OOP16_Hirarki Package/nbproject/private/
/OOP16_Hirarki Package/build/
